
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Environment Configuration
.env

# Dependency directory
node_modules

# Test coverage directory
coverage

# Logs
logs
*.log

# ngrok tunnel file
config/tunnel.pid

# server build output
dist/

# other files
tsconfig.tsbuildinfo
.npmrc
